<style>

ul{
    list-style-type: none;
}
li {
    display: inline;
    vertical-align: middle;
}
body {
}

#navBar {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

#logo{
    font-family: Georgia, serif;
    font-size: 30px;
    font-style: italic;
    padding-right: 40px;
    vertical-align: middle;
}

#login{
    color: black;
    text-decoration: none;
    padding-top: 50px;
}

#story{
    text-decoration: none;
    color: black;
}

#header {
    padding-top:0px;
    background-color: black;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    height: 50px;
    vertical-align: middle;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    background-color: black;
}

#submitStory{
    padding-top:80px;
}

#pDesc{
    width: 300px;
    height: 125px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

.story {
	margin-top: 80px;
	display: inline-block;
	border: 1px solid black;
	padding: 10px;
	background-color: white;
}

.story * {
	margin: 1px 0px 1px 10px;
	padding: 0;
}

.storyTitle {
	font-size: 45px;
}

.storyAuthor {
	font-style: italic;
	font-size: 17px;
	margin-left: 40px;
}

.commentForm {
	margin: 10px 0px 0px 0px;
}

.commentButton {
	padding: 14px;
	font-size: 20px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
}

.comment {
	padding: 10px;
	padding-right: 150px;
	border: 3px solid #990000;
	display: inline-block;
	background-color: #FFDEBE;
	border-radius: 5px;
	margin: 10px 10px;
}

.storybutton {
	display: inline-block;
	font-size: 17px;
	height: 30px;
	padding-right: 30px;
}

.buttonForm {
	display: inline-block;
}
.editCommentButton {
	font-size: 12px;
	height: 20px;
	margin: 0px 10px 0px 0px;
}
</style>
