<style>

ul{
    list-style-type: none;
}
li {
    display: inline;
    vertical-align: middle;
}

#navBar {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

#logo{
    font-family: Georgia, serif;
    font-size: 30px;
    font-style: italic;
    padding-right: 40px;
    vertical-align: middle;
}

#log{
    color: white;
    text-decoration: none;
    padding-left: 650px;
}

#header {
    padding-top:0px;
    background-color: black;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    height: 50px;
    vertical-align: middle;
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    background-color: black;
}

h1 {
    padding-top: 50px;
}

</style>